.mainTestimonialContainer {
    background-color: #F8FAFC;
    margin-top: 80px;
    padding-bottom: 50px;
}
.testimonialContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 1440px;
    
}
.testimonialContainer .titleTestimonial {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.testimonialContainer .titleTestimonial h3 {
    font-size: 30px;
    font-weight: 600;
}
.testimonialContainer .testimonials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.testimonialContainer .testimonials .testimonialsCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 18px;
    border: 1px solid #E2E8F0;
    box-shadow: 0px 0px 8px 0px #3B82F61F;
    border-radius: 16px;
    height: 250px;
    margin-right: 20px;
}
.testimonialContainer .testimonials .testimonialsCard:last-child {
    margin-right: 0;
}
.testimonialContainer .testimonials .testimonialsCard .quote {

}
.testimonialContainer .testimonials .testimonialsCard p {

}
.testimonialContainer .testimonials .testimonialsCard .person {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
}
.testimonialContainer .testimonials .testimonialsCard .person img {

}
.testimonialContainer .testimonials .testimonialsCard .person .aboutPerson {

}
.testimonialContainer .testimonials .testimonialsCard .person .aboutPerson h5 {
    
}
.testimonialContainer .testimonials .testimonialsCard .person .aboutPerson p {
    
}