.container {
    margin: 0 auto;
    width: 90%;
}


.login-popup {
  padding: 30px 20px 20px 20px;
  background: #fff;
  border-radius: 8px;
  min-width: 500px;
  box-shadow: 0 2px 12px rgba(0,0,0,0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login-popup .close {
    position: relative;
    left: 300px;
}
.login-popup h2 {
  margin-top: 0;
}
.login-popup form {
    width: 500px;
}
.login-popup form input {
  padding: 10px 10px;
  margin-bottom: 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  
}
.login-submit {
  background: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}



.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 65px;
    align-items: center;
    border-bottom: 1px solid #E2E8F0;
    padding: 8px 0;
}
.header .left {
  font-size: 20px;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.header .left .logo {
  width: 41px;
  height: 55px;
  
}
nav {
  display: flex;
  align-items: center;
}
.cart {
  width: 34px;
  height: 34px;
  
}
.login {
  padding: 15px;
  border: 1px solid #334155;
  background-color: transparent;
  margin-left: 15px;
}
.signup {
   padding: 15px;
   color: #fff;
   background-color: #334155;
   margin-left: 15px;
}
.logout {
    padding: 15px;
   color: #fff;
   background-color: #334155;
   margin-left: 15px;
}

.spotlight {
    height: 600px;
    display: flex;
    align-items: center;
    padding-bottom: 80px;
    justify-content: space-between;
}
.spotlight .left {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.spotlight .left  h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 120%;
    color: #0F172A;
    position: relative;
    bottom: -20px;
}
.spotlight .left p {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
    color: #334155;
    position: relative;
    top: -8px;
}
.spotlight .left button {
    font-size: 16px;
    font-weight: 500;
    padding: 14px 24px;
    border-radius: 8px;
    background-color: #3B82F6;
    border: none;
    color: #fff;
    cursor: pointer;
}
.spotlight .right {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    left: -40px;
}
.spotlight .right .one {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: relative;
    right: -50px;
}
.spotlight .right .one .student1 {
    width: 300px;
    height: auto;
}
.spotlight .right .one div {
    width: 50px;
    height: 50px;
    background-color: #0F172A;
    border-radius: 30px;

    position: relative;
    bottom: -30px;
    right: -20px;
}
.spotlight .right .two {
    display: flex;
    flex-direction: column;
}
.spotlight .right .two .student2 {
    width: 300px;
    height: auto;
}
.spotlight .right .two .student3 {
    width: 300px;
    height: auto;
}

.stats {
    background-color: #F8FAFC;
    padding: 20px 80px;
}
.stats ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 20px;
}
.stats ul li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stats ul .line {
    width: 4px;
    height: 75px;
    background-color: #E2E8F0;
}
.stats ul li h3 {
    font-size: 35px;
    font-weight: 600;
}
.stats ul li p {
    font-size: 16px;
    position: relative;
    top: -45px;
}
.containerAbout {
    display: flex;
    flex-direction: column;
    padding: 60px 120px;
    
}
.containerAbout .topAbout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}
.containerAbout .topAbout .one {

}
.containerAbout .topAbout .right {
    
}
.containerAbout .topAbout .right h4 {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    bottom: -20px;
}
.containerAbout .topAbout .right p {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}
.containerAbout .topAbout .right button {
    font-size: 14px;
    padding: 15px 24px;
    border-radius: 8px;
    color: #fff;
    background-color: #020617;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.containerAbout .topAbout .right button .arrowRight {
    margin-left: 10px;
}
.containerAbout .bottomAbout {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.containerAbout .bottomAbout .one {

}
.containerAbout .bottomAbout .left {
    display: flex;
    flex-direction: column;
    align-items: start;
}
.containerAbout .bottomAbout .left h4 {
    font-size: 24px;
    font-weight: 600;
    position: relative;
    bottom: -40px;
}
.containerAbout .bottomAbout .left p {
    font-size: 18px;
    font-weight: 400;
    line-height: 160%;
}
.containerAbout .bottomAbout .left button {
    font-size: 14px;
    padding: 15px 24px;
    border-radius: 8px;
    color: #fff;
    background-color: #020617;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.containerAbout .bottomAbout .left button .arrowRight {
    margin-left: 10px;
}



.popup-overlay {
  position: fixed;
  top: 0; left: 0; right: 0; bottom: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Ensures popup is on top */
}

.popup-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 35%;
    height: 60vh;
    background-color:#334155;
    border-radius: 17px;
}
.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.top h1 {
    color: #fff;
    font-size: 38px;
    padding-top: 10px;
}
.top p {
    color: #fff;
    font-size: 16px; 
    position: relative;
    top: -40px;
}
.middle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
}
form {
    width: 100%;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    top: -15px;
}

 
  label {
    display: flex; 
    margin-bottom: 5px;
    color: #fff;
    font-size: 22px;
  }

  input[type="text"], input[type="username"], input[type="number"], input[type="password"] {
    width: 100%; 
    padding: 8px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
  }

  input[type="file"] {
    padding: 10px; 
    margin-bottom: 5px;
    color: #fff;
  }
  form #submit {
    display: flex;
    justify-content: center;
  }
  .submit {
    background: #fff;
    color: #334155;
    font-size: 18px;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
  }
  .submit:hover {
    background: #334155;
    border: 1px solid #fff;
    color: #fff;
  }
.bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    font-size: 16px;
    margin-bottom: 20px;
}

.bottom button:hover {
    background-color: #000;
    color: #fff;
    border-width: 1px;
    border-color: #fff;
}

.bottom p {
    color: #fff;
    font-size: 18px;
    position: relative;
    top: -30px;
}
.popup-content .close {
    position: relative;
    top: -50px;
}