.topInstructorsContainer {
    margin-top: 50px;
}
.topInstructorsContainer .topInstructors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.topInstructorsContainer .topInstructors h3 {
    font-size: 30px;
    font-weight: 600;
}
.topInstructorsContainer .topInstructors a {
    text-decoration: none;
    color: #3B82F6;
}
.topInstructorsContainer .instructors {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topInstructorsContainer .instructors .instructorCard {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border: 1px solid #E2E8F0;
    box-shadow: 0px 0px 8px 0px #3B82F61F;
    border-radius: 16px;
    height: 300px;
}
.topInstructorsContainer .instructors .instructorCard .top {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topInstructorsContainer .instructors .instructorCard .top .imgInstructor  {
    width: 200px;
    height: auto;
}
.topInstructorsContainer .instructors .instructorCard .top .about {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.topInstructorsContainer .instructors .instructorCard .top .about h4 {
    font-size: 22px;
    font-weight: 600;
    line-height: 150%;
    position: relative;
    top: -10px;
}
.topInstructorsContainer .instructors .instructorCard .top .about p {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    position: relative;
    top: -55px;
}
.topInstructorsContainer .instructors .instructorCard hr {
    width: 180px;
    height: 1px;
    color: #e0e0e0;
    position: relative;
    top: -60px;
}
.topInstructorsContainer .instructors .instructorCard .bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.topInstructorsContainer .instructors .instructorCard .bottom .rating {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -55px;
}
.topInstructorsContainer .instructors .instructorCard .bottom .rating .star {
    position: relative;
    bottom: -20px;
    margin-right: 8px;
}
.topInstructorsContainer .instructors .instructorCard .bottom .rating p {
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    
}
.topInstructorsContainer .instructors .instructorCard .bottom .students {
    font-size: 16px;
    font-weight: 600;
    line-height: 160%;
    position: relative;
    top: -55px;
    color: #334155;
}