.categoriesContainer {
    margin-top: 50px;
}
.categoriesContainer .topCategories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.categoriesContainer .topCategories h3 {
    font-size: 30px;
    font-weight: 600;
}
.categoriesContainer .topCategories a {
    text-decoration: none;
    color: #3B82F6;
}
.categoriesContainer .categories {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.categoriesContainer .categories .categoryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 100px 10px;
    border: 1px solid #E2E8F0;
    box-shadow: 0px 0px 8px 0px #3B82F61F;
    border-radius: 16px;
}
.categoriesContainer .categories .categoryCard span {
    padding: 20px;
    border-radius:40px;
    background-color: #E0F2FE;
    display: flex;
    align-items: center;
}
.categoriesContainer .categories .categoryCard span .icon {
    width: 30px;
    height: 30px;
    
}
.categoriesContainer .categories .categoryCard h4 {
    font-size: 24px;
    font-weight: 600;
    line-height: 150%;
}
.categoriesContainer .categories .categoryCard p {
    font-size: 16px;
    font-weight: 400;
    line-height: 160%;
    position: relative;
    top: -20px;
}